h3
  | About The Irwins
p
  |  This will be the second year we are going to sell corn. We pick our corn fresh in the morning just before we go to town to sell. We grow this corn on a hobby farm located just south east of Eau Claire WI. 
