<h1>
  <center style="font-size:90px"><i>Irwins corn Website</i></center><br>
  <center>
  <a href="./static_pages/about">About the Irwins</a>
  <a href="./static_pages/hours_and_locations">Hours and Locations</a>
  </center>
</h1>
<h2 style="font-size:50px">
  Non GMO Cultivated <em style="font-size:70px">Sweet Corn</em>
</h2>
<h2>
  Look for the yellow boat on camron street!
</h2>
<center>
  <img style="transform: rotate(180deg)" src="images/IMG_3904.jpg" alt="corn"
  width=700px>
</center>
<center>
  <img style="transform: rotate(180deg)" src="images/IMG_3907.jpg" alt="more corn"
  width=700px>
</center>
